
.background-title{
    color: rgb(32, 59, 209);
    font: bold 1.3rem Serif;
}

.background-input-name{
    margin: 0.3rem 0rem 0.8rem 1rem;
    display: block;
    color: rgb(58, 58, 58);
    font: italic 1.0rem Serif;
}

.background-input{
    margin: 0.3rem 0rem 0.8rem 2rem;
    border: 0.1rem solid rgb(43, 43, 43);
    display: block;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font: 1.0rem Serif;
    border-radius: 0.4rem;
    width: 10rem;
}


.background-preview{
    margin: 0rem 0rem 0rem 2rem;
    width: 10rem;
    height: 6rem;
    background: linear-gradient(180deg, rgb(0,0,0), rgb(65,65,65));
}

.background-color-div{
    margin: 0rem 0rem 0rem 2rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    width: var(--background-color-div-width);

    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.background-color-div-item{
    display: inline-block;
    width: 10rem;
}

.background-color-div-item-text{
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    display: inline-block;
    font: 1.0rem Serif;
}

