
.edition-flexbox{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.edition-menu{
    margin: 5.5rem 0rem 0rem 4vw;
    display: inline-block;
}

.edition-menu-item-activated{
    margin: 0.6rem 0rem 0rem 0rem;
    padding: 0.4rem 0rem 0.4rem 0rem;
    width: 10rem;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font: bold 1.2rem Serif;
    width: 10rem;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
}

.edition-menu-item-activated-focus{
    margin: 0.6rem 0rem 0rem 0rem;
    padding: 0.4rem 0rem 0.4rem 0rem;
    width: 10rem;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font: bold 1.2rem Serif;
    width: 10rem;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
    text-decoration: underline;
}

.edition-menu-item-desactivated-focus{
    margin: 0.6rem 0rem 0rem 0rem;
    padding: 0.4rem 0rem 0.4rem 0rem;
    width: 10rem;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    font: bold 1.2rem Serif;
    width: 10rem;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
    text-decoration: underline;
}

.edition-menu-item-desactivated{
    margin: 0.6rem 0rem 0rem 0rem;
    padding: 0.4rem 0rem 0.4rem 0rem;
    width: 10rem;
    background-color: rgb(46, 46, 46);
    color: rgb(184, 184, 184);
    font: bold 1.2rem Serif;
    width: 10rem;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
}

.edition-menu-item-selected{
    margin: 0.6rem 0rem 0rem 0rem;
    padding: 0.4rem 0rem 0.4rem 0rem;
    width: 10rem;
    background-color: rgb(46, 46, 46);
    color: rgb(216, 216, 216);
    font: bold 1.2rem Serif;
    width: 10rem;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
}

.edition-div{
    margin: 3.0rem 0rem 4rem 6rem;
    display: inline-block;
}
