
.background-title{
    color: rgb(32, 59, 209);
    font: bold 1.3rem Serif;
}

.background-input-name{
    margin: 0.3rem 0rem 0.8rem 1rem;
    display: block;
    color: rgb(58, 58, 58);
    font: italic 1.0rem Serif;
}

.background-input{
    margin: 0.3rem 0rem 0.8rem 2rem;
    border: 0.1rem solid rgb(43, 43, 43);
    display: block;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font: 1.0rem Serif;
    border-radius: 0.4rem;
    width: 10rem;
}


.background-preview{
    margin: 0rem 0rem 0rem 2rem;
    width: 10rem;
    height: 6rem;
    background: linear-gradient(180deg, rgb(0,0,0), rgb(65,65,65));
}

.background-color-div{
    margin: 0rem 0rem 0rem 2rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    width: 25rem;

    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.background-color-div-item{
    display: inline-block;
    width: 10rem;
}

.background-color-div-item-button{
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 30%;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(90, 247, 17);
    background-clip: content-box;
    cursor: pointer;
}

.background-color-div-item-text{
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    display: inline-block;
    font: 1.0rem Serif;
}

.background-list{
    padding: 0rem 0rem 1rem 0rem;
    width: 40rem;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-wrap: anywhere;
}

.background-list-item{
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    text-align: center;
    width: 9rem;
    display: inline-block;
    background-color:rgb(202, 202, 202);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0,0,0);
    cursor: pointer;
    font: 1.0rem Serif;
    overflow-wrap: anywhere;
}

.background-list-item-selected{
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    text-align: center;
    width: 9rem;
    display: inline-block;
    background-color:rgb(55, 212, 233);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0,0,0);
    cursor: pointer;
    font: 1.0rem Serif;
}

.background-list-item-button{
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    text-align: center;
    width: 9rem;
    display: inline-block;
    background-color:rgb(55, 212, 233);
    color: rgb(8, 8, 8);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0,0,0);
    cursor: pointer;
    font: 1.0rem Serif;
}
