
.button_add{
    margin: 40px 20px 200px 200px;
    padding: 8px 11px 8px 11px;
    background-color: rgb(250, 141, 15);
    border: 0px;
    box-shadow: 2px 2px 2px rgb(82, 82, 82);
    border-radius: 8px 8px 8px 8px;
    font: bold 16px "Times New Roman", Serif;
    cursor: pointer;
}

.supra_title{
    margin: 20px 0px 40px 80px;
    text-align: left;
    display: block;
    font: bold 19px "Times New Roman", Serif;
    padding: 6px 10px 6px 10px;
    box-shadow: 2px 2px 2px rgb(82, 82, 82);
    border-radius: 8px 8px 8px 8px;
    background-image: linear-gradient(180deg, rgb(19, 19, 19), rgb(65, 64, 64));
    color: rgb(255,255,255);
    max-width: 300px;
}

.generation_endpoint_div{
    margin: 40px 0px 0px 0px; 
    width: 600px;
}

.url_div_1{
    margin: 0px 0px 0px 0px;
    width: 500px;
}

.url_div_2{
    display: flex;
    align-items: center;
    width: 100%;
}

.url_div_3{
    margin: 0px 0px 0px 40px;
}

.url_div_4{
    margin: 30px 0px 0px 0px;
}

.text2{
    width: 180px;
    text-align: center;
    display: inline-block;
    font: italic 15px "Times New Roman", Serif;
}




.div_status{
    margin: 0px 0px 10px 150px;
    width: 500px;
}

.input_status{
    border: 1px solid rgb(88, 88, 88);
    height: 19px;
    width: 50px;
    margin: 0px 0px 0px 25px;
    display: inline-block;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    border-radius: 8px 8px 8px 8px;
    font: 13px "Times New Roman", Serif;
    padding: 4px 6px 4px 6px;
    text-align: center;
}

.button_status{
    margin: 0px 20px 0px 20px;
    padding: 8px 11px 8px 11px;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    border: 0px;
    box-shadow: 2px 2px 2px rgb(82, 82, 82);
    border-radius: 8px 8px 8px 8px;
    font: bold 14px "Times New Roman", Serif;
    cursor: pointer;
}


.choice_activated{
    display: inline-block;
    min-width: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin: 0px 8px 0px 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(250, 141, 15);
    font:  14px "Times New Roman", Serif;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.choice_desactivated{
    display: inline-block;
    min-width: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin: 0px 8px 0px 8px;
    padding: 6px 8px 6px 8px;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(151, 151, 151);
    font:  14px "Times New Roman", Serif;
    text-align: center;
    cursor: pointer;
    user-select: none;
}



.sub_title{
    margin: 20px 0px 10px 0px;
    text-align: left;
    display: block;
    font: bold 18px "Times New Roman", Serif;
}

.column{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-direction: column;
    margin: 0px 0px 0px 200px;
}

.line{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: line;
}

.cell{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}


.cell_text{
    display: inline-block;
    width: 180px;
    text-align: center;
    font: 15px "Times New Roman", Serif;
}

.cell{
    width: 180px;
}

.cell_input{
    display: inline-block;
    border: 1px solid rgb(88, 88, 88);
    height: 19px;
    width: 140px;
    margin: 7px 12px 7px 12px;
    display: inline-block;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    border-radius: 8px 8px 8px 8px;
    font: 14px "Times New Roman", Serif;
    padding: 4px 6px 4px 6px;
    text-align: center;
}

.cell_select{
    margin: 7px 12px 7px 12px;
    height: 28px;
    border: 1px solid rgb(88, 88, 88);
    padding: 4px 6px 4px 6px;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    border-radius: 8px 8px 8px 8px;
    min-width: 120px;
    background-color: rgb(255,255,255);
    font: 14px "Times New Roman", Serif;
}


.sub_title2{
    margin: 30px 0px 10px 0px;
    text-align: left;
    display: block;
    font: bold 18px "Times New Roman", Serif;
}



.field_textarea{
    margin: 0px 8px 10px 0px;
    padding: 9px 12px 9px 12px;
    border-radius: 0px 12px 12px 12px;
    border: 3px solid rgb(70, 92, 221);
    box-shadow: 3px 2px 2px rgb(117, 117, 117);
    font: 14px "Times New Roman", Serif;
    resize: none;
}





