.indent{
    margin: 0px 0px 0px 70px;
}

.button_div{
    margin: 60px 0px 0px 0px;
    width: 400px;
}

.button4{
    border: 0px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    padding: 8px 12px 8px 12px;
    margin: 12px 16px 12px 16px;
    background-color: rgb(22, 22, 22);
    color: rgb(255,255,255);
    box-shadow: 3px 2px 2px rgb(117, 117, 117);
    font: bold 16px "Times New Roman", Serif;
    max-width: 100px;
}

.tab_div{
    overflow: auto;
    scrollbar-width: auto;
    max-height: 200px;
    border-radius: 0px 12px 12px 12px;
    border: 3px solid rgb(70, 92, 221);
    box-shadow: 3px 2px 2px rgb(117, 117, 117);
    background-color: rgb(32, 32, 32);
    width: 500px;
}

.tab_text{
    margin: 0px 8px 10px 0px;
    padding: 9px 12px 9px 12px;
    font: 14px "Times New Roman", Serif;
    color: rgb(255, 255, 255);
    height: 160px;
}

.gen_div{
    margin: 0px 0px 10px 40px;
}


.gen_div2{
    margin: 30px 0px 0px 40px;
}

.text_gen3{
    width: 100px;
    text-align: left;
    display: inline-block;
    font: bold 18px "Times New Roman", Serif;
    margin: 0px 0px 20px 10px;
}

.text_gen2{
    text-align: left;
    display: block;
    font: 16px "Times New Roman", Serif;
    margin: 6px 6px 10px 40px;
}

.text_gen{
    width: 100px;
    text-align: left;
    display: block;
    font: bold 18px "Times New Roman", Serif;
    margin: 0px 0px 20px 10px;
}

.container_center_line{
    display: flex;
    align-items: center;
    justify-content: start; 
    width: 100%;
    flex-direction: line;
    margin: 0px 0px 0px 50px;
}

.cross_image{
    display: inline-block;
    margin: 3px 0px 0px 30px;
    cursor: pointer;
}


.endpoints_div{
    margin: 40px 0px 10px 500px;
}

.method_select{
    border: 1px solid rgb(88, 88, 88);
    padding: 4px 6px 4px 6px;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    border-radius: 8px 8px 8px 8px;
    min-width: 100px;
    background-color: rgb(255,255,255);
    font: 13px "Times New Roman", Serif;
}

.tab{
    display: inline-block;
    padding: 6px 10px 6px 10px;
    box-shadow: 2px 2px 2px rgb(82, 82, 82);
    border-radius: 8px 8px 8px 8px;
    background-image: linear-gradient(180deg, rgb(19, 19, 19), rgb(65, 64, 64));
    color: rgb(255,255,255);
    font: 16px "Times New Roman", Serif;
    max-width: 400px;
}

.generation_group{
    margin: 40px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textarea_create_group{
    border: 1px solid rgb(88, 88, 88);
    margin: 0px 20px 0px 25px;
    display: inline-block;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    border-radius: 8px 8px 8px 8px;
    resize: none;
    font: 15px "Times New Roman", Serif;
    padding: 8px 10px 8px 10px;
}


.generation_div{
    margin: 30px 0px 10px 0px;
    width: 400px;
}

.generation_endpoint_div{
    margin: 10px 0px 100px 0px;
    width: 700px;
}

.user_message{
    text-align: left;
    display: block;
    font: italic 17px "Times New Roman", Serif;
    width: 600px;
}

.generation_title{
    margin: 20px 0px 20px 0px;
    text-align: left;
    display: block;
    font: bold 22px "Times New Roman", Serif;
}

.generation_title2{
    margin: 50px 0px 0px 0px;
    text-align: left;
    display: block;
    font: bold 22px "Times New Roman", Serif;
}




