
/* This file contains the styles to apply for all the pages */

@media (min-width: 1000px) { 


    :root{
        --game-width: 800px;
        --game-height: 450px;
        --edition-flexbox-direction: row;
        --edition-menu-width: auto;
        --edition-item-display: block;
        --edition-item-margin: 0.6rem 0.5rem 0rem 0.5rem;
        --edition-div-margin: 3.0rem 0rem 4rem 6rem;
        --background-color-div-width: 23rem;
        --character-sprite-div-width: 50rem;
        --scene-parameter-div-width: 35rem;
        --scene-message-width: 25rem;
        --scene-message-background-left-margin: 0.6rem 0rem 2.0rem 1.0rem;
        --scene-message-background-right-margin: 0.6rem 0rem 2.0rem 7.0rem;
        --scene-message-title-div-width: 23rem;
        --scene-message-title-sub-div-width : 21rem;
        --message-box-width: 30rem;
        --message-box-margin: 0.7rem 0rem 0.7rem 3.0rem;
        --message-box-textarea-width: 24rem;
        --view-list-width: 40rem;
        --loading-circle-margin: 10vh 0vw 4vh 8vw;
    }

}

@media  (min-width: 700px) and (max-width: 1000px){ 


    :root{
        --game-width: 75vw;
        --game-height: 42vw;
        --edition-flexbox-direction: column;
        --edition-menu-width: 40rem;
        --edition-item-display: inline-block;
        --edition-item-margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        --edition-div-margin: 3.0rem 0rem 4rem 4vw;
        --background-color-div-width: 40vw;
        --character-sprite-div-width: 50vw;
        --scene-parameter-div-width: 70vw;
        --scene-message-width: 17rem;
        --scene-message-background-left-margin: 0.6rem 0rem 2.0rem 4vw;
        --scene-message-background-right-margin: 0.6rem 0rem 2.0rem 12vw;
        --scene-message-title-div-width: 15rem;
        --scene-message-title-sub-div-width : 13rem;
        --message-box-width: 25rem;
        --message-box-margin: 0.7rem 0rem 0.7rem 7vw;
        --message-box-textarea-width: 20rem;
        --view-list-width: 70vw;
        --loading-circle-margin: 5vh 0vw 4vh 8vw;
    }

}

@media (max-width: 700px) { 


    :root{
        --game-width: 80vw;
        --game-height: 45vw;
        --edition-flexbox-direction: column;
        --edition-menu-width: 90vw;
        --edition-item-display: inline-block;
        --edition-item-margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        --edition-div-margin: 3.0rem 0rem 4rem 4vw;
        --background-color-div-width: 40vw;
        --character-sprite-div-width: 50vw;
        --scene-parameter-div-width: 70vw;
        --scene-message-width: 17rem;
        --scene-message-background-left-margin: 0.6rem 0rem 2.0rem 4vw;
        --scene-message-background-right-margin: 0.6rem 0rem 2.0rem 12vw;
        --scene-message-title-div-width: 15rem;
        --scene-message-title-sub-div-width : 13rem;
        --message-box-width: 70vw;
        --message-box-margin: 0.7rem 0rem 0.7rem 7vw;
        --message-box-textarea-width: 50vw;
        --view-list-width: 70vw;
        --loading-circle-margin: 5vh 0vw 4vh 8vw;
    }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-circle {
    margin: var(--loading-circle-margin);
    animation: spin 2s linear infinite;
    border: 0.7rem solid #3498db;
    border-top: 0.2rem solid #ecf0f1;
    border-radius: 80%;
    width: 13vh;
    height: 13vh;
}



body{
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

.flex-line{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-line-center{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-div{
    margin: 5.5rem 0rem 0rem 12rem;
    width: 40vw;
}